body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "PingFang SC", "Microsoft YaHei",
    sans-serif;
}

/* 顶部导航栏高亮样式覆盖 */
.ant-menu-horizontal {
  border-bottom: none !important;
}
